<template>
  <div>
    <div class="current-graph"
         :class="`graph-color-${graphColor}`"
         :id="graphId"
         :style="setGraphStyle"
         @mousedown="onClickMouse"
    />
  </div>
</template>

<script>
export default {
  name: 'RectangleGraph',
  props: {
    graphId: {
      type: String,
      required: true,
    },
    graphColor: {
      type: String,
      default: 'BLACK',
    },
    wrapperPositionX: {
      type: Number,
      default: 0,
    },
    wrapperPositionY: {
      type: Number,
      default: 0,
    },
    startPointX: {
      type: Number,
      required: true,
    },
    startPointY: {
      type: Number,
      required: true,
    },
    endPointX: {
      type: Number,
      required: true,
    },
    endPointY: {
      type: Number,
      required: true,
    },
  },
  mounted() {
    console.log('mount');
  },
  computed: {
    setGraphStyle() {
      const width = this.endPointX - this.startPointX;
      const height = this.endPointY - this.startPointY;

      if (width >= 0 && height >= 0) {
        return {
          top: `${this.startPointY - this.wrapperPositionY}px`,
          left: `${this.startPointX - this.wrapperPositionX}px`,
          width: `${this.endPointX - this.startPointX}px`,
          height: `${this.endPointY - this.startPointY}px`,
        }
      } else if (width >= 0 && height < 0) {
        return {
          top: `${this.endPointY - this.wrapperPositionY}px`,
          left: `${this.startPointX - this.wrapperPositionX}px`,
          width: `${this.endPointX - this.startPointX}px`,
          height: `${this.startPointY - this.endPointY}px`,
        }
      } else if (width < 0 && height >= 0) {
        return {
          top: `${this.startPointY - this.wrapperPositionY}px`,
          left: `${this.endPointX - this.wrapperPositionX}px`,
          width: `${this.startPointX - this.endPointX}px`,
          height: `${this.endPointY - this.startPointY}px`,
        }
      } else {
        return {
          top: `${this.endPointY - this.wrapperPositionY}px`,
          left: `${this.endPointX - this.wrapperPositionX}px`,
          width: `${this.startPointX - this.endPointX}px`,
          height: `${this.startPointY - this.endPointY}px`,
        }
      }

    }
  },
  methods: {
    onClickMouse(event) {
      console.log(event.currentTarget.id);
    },
  },
}
</script>

<style scoped lang="scss">
.current-graph {
  position: absolute;
  border: 1px solid cornflowerblue;
  &.graph-color-BLACK {
    border: 1px solid #000000;
  }
  &.graph-color-RED {
    border: 1px solid #da3f27;
  }
  &.graph-color-YELLOW {
    border: 1px solid #fff44f;
  }
  &.graph-color-GREEN {
    border: 1px solid #77DD77;
  }
  &.graph-color-BLUE {
    border: 1px solid #2596be;
  }
}
</style>
