<template>
  <div class="default-button"
       :class="{'is-button-active': isActive}"
       @click="onClickButton" >
    <div>{{ text }}</div>
  </div>
</template>

<script>
export default {
  name: 'BaseButton',
  props: {
    text: {
      type: String,
      default: '',
    },
    isActive: {
      type: Boolean,
      required: false,
    },
  },
  methods: {
    onClickButton() {
      this.$emit('button-clicked', this.text);
    },
  },
}
</script>

<style scoped lang="scss">
.default-button {
  width: 100px;
  height: 32px;
  line-height: 32px;
  padding: 3px;
  cursor: pointer;
  background-color: lightgray;
  &.is-button-active {
    font-weight: 600;
  }
}
.default-button + .default-button {
  margin-left: 32px;
}
</style>
