<template>
  <div class="default-button"
       :style="setColorButtonStyle"
       :class="{'is-button-active': isActive}"
       @click="onClickButton" >
    <div>{{ text }}</div>
  </div>
</template>

<script>
export default {
  name: 'ColorButton',
  props: {
    text: {
      type: String,
      default: '',
    },
    isActive: {
      type: Boolean,
      required: false,
    },
    currentColor: {
      type: String,
      default: '#000000',
    }
  },
  computed: {
    setColorButtonStyle() {
      if(this.text === 'BLACK') {
        return {
          color: '#ffffff',
          borderColor: `${this.currentColor}`,
          borderStyle: 'solid',
          borderWidth: '1px',
          backgroundColor: `${this.currentColor}`,
        }
      }
      return {
        borderColor: `${this.currentColor}`,
        borderStyle: 'solid',
        borderWidth: '1px',
        backgroundColor: `${this.currentColor}`,
      }
    }
  },
  methods: {
    onClickButton() {
      this.$emit('button-clicked', this.text);
    },
  },
}
</script>

<style scoped lang="scss">
.default-button {
  width: 100px;
  height: 32px;
  line-height: 32px;
  padding: 3px;
  cursor: pointer;
  &.is-button-active {
    font-weight: 600;
  }
}
.default-button + .default-button {
  margin-left: 32px;
}
</style>
