<template>
  <div class="button-wrapper">
    <base-button :text=buttonType.RECTANGLE
                 :is-active="selectedType === buttonType.RECTANGLE"
                 @button-clicked="onClickButton" />
    <base-button :text=buttonType.CIRCLE
                 :is-active="selectedType === buttonType.CIRCLE"
                 @button-clicked="onClickButton"/>
    <base-button :text=buttonType.CLEAR
                 :is-active="selectedType === buttonType.CLEAR"
                 @button-clicked="onClickClearButton"/>
    <color-button text="BLACK"
                  current-color="#000000"
                  :is-active="selectedColor === colorType.BLACK"
                  @button-clicked="onClickColorButton" />
    <color-button text="RED"
                  current-color="#da3f27"
                  :is-active="selectedColor === colorType.RED"
                  @button-clicked="onClickColorButton"/>
    <color-button text="YELLOW"
                  current-color="#fff44f"
                  :is-active="selectedColor === colorType.YELLOW"
                  @button-clicked="onClickColorButton"/>
    <color-button text="GREEN"
                  current-color="#77DD77"
                  :is-active="selectedColor === colorType.GREEN"
                  @button-clicked="onClickColorButton"/>
    <color-button text="BLUE"
                  current-color="#2596be"
                  :is-active="selectedColor === colorType.BLUE"
                  @button-clicked="onClickColorButton"/>
  </div>
</template>

<script>
import { buttonType, colorType } from '@/assets/js/type';
import BaseButton from '@/components/Button/BaseButton';
import ColorButton from "@/components/Button/ColorButton";

export default {
  name: 'ButtonArea',
  components: {
    ColorButton,
    BaseButton,
  },
  props: {
    selectedType: {
      type: String,
      default: '',
    },
    selectedColor: {
      type: String,
      default: 'BLACK'
    },
  },
  data() {
    return {
      buttonType,
      colorType,
    };
  },
  methods: {
    onClickButton(type) {
      this.$emit('button-clicked', type);
    },
    onClickClearButton(type) {
      this.$emit('clear-button-clicked', type);
    },
    onClickColorButton(color) {
      this.$emit('color-button-clicked', color);
    },
  },
}
</script>

<style scoped lang="scss">
.button-wrapper {
  display: flex;
  flex-direction: row;
}
</style>
