<template>
  <div class="draw-wrapper"
       @mousedown="mouseDown($event)">
    <div id="currentGraph"
         class="current-graph"
         :class="`graph-color-${currentColor}`"
         :style="setGraphStyle" />
    <div v-for="(graph, index) in graphs" :key="index">
      <div v-if="graph.graphType === buttonType.CIRCLE">
        <circle-element :graph-id="graph.graphId"
                        :graph-color="graph.graphColor"
                        :wrapper-position-x="wrapperPositionX"
                        :wrapper-position-y="wrapperPositionY"
                        :start-point-x="graph.graphStartX"
                        :start-point-y="graph.graphStartY"
                        :end-point-x="graph.graphEndX"
                        :end-point-y="graph.graphEndY" />
      </div>
      <div v-else>
        <rectangle-element  :graph-id="graph.graphId"
                            :graph-color="graph.graphColor"
                            :wrapper-position-x="wrapperPositionX"
                            :wrapper-position-y="wrapperPositionY"
                            :start-point-x="graph.graphStartX"
                            :start-point-y="graph.graphStartY"
                            :end-point-x="graph.graphEndX"
                            :end-point-y="graph.graphEndY" />
      </div>
    </div>
  </div>
</template>

<script>
import { buttonType } from '@/assets/js/type';
import RectangleElement from '@/components/Graph/RectangleElement.vue';
import CircleElement from '@/components/Graph/CircleElement.vue';

export default {
  name: 'DrawArea',
  components: {
    CircleElement,
    RectangleElement
  },
  props: {
    currentType: {
      type: String,
      default: '',
    },
    currentColor: {
      type: String,
      default: 'BLACK',
    },
    graphs: {
      type: Array,
      default() {
        return [];
      },
    },
    wrapperPositionX: {
      type: Number,
      default: 0,
    },
    wrapperPositionY: {
      type: Number,
      default: 0,
    },
    isClear: {
      type: Boolean,
      required: true,
    }
  },
  data() {
    return {
      startPointX: 0,
      startPointY: 0,
      currentPointX: 0,
      currentPointY: 0,
      radiusStyle: { 'border-radius': `50%`},
      buttonType,
    }
  },
  computed: {
    setGraphStyle() {
      let defaultStyle = {};
      const width = this.currentPointX - this.startPointX;
      const height = this.currentPointY - this.startPointY;

      if(this.currentPointX === 0 && this.startPointX > 0
          || this.currentPointY === 0 && this.startPointY > 0) return;

      if (width > 0 && height > 0) {
        defaultStyle = {
          top: `${this.startPointY}px`,
          left: `${this.startPointX}px`,
          width: `${this.currentPointX - this.startPointX}px`,
          height: `${this.currentPointY - this.startPointY}px`,
        }
      } else if (width > 0 && height < 0) {
        defaultStyle = {
          top: `${this.currentPointY}px`,
          left: `${this.startPointX}px`,
          width: `${this.currentPointX - this.startPointX}px`,
          height: `${this.startPointY - this.currentPointY}px`,
        }
      } else if (width < 0 && height > 0) {
        defaultStyle = {
          top: `${this.startPointY}px`,
          left: `${this.currentPointX}px`,
          width: `${this.startPointX - this.currentPointX}px`,
          height: `${this.currentPointY - this.startPointY}px`,
        }
      } else {
        defaultStyle = {
          top: `${this.currentPointY}px`,
          left: `${this.currentPointX}px`,
          width: `${this.startPointX - this.currentPointX}px`,
          height: `${this.startPointY - this.currentPointY}px`,
        }
      }

      if (this.currentType === buttonType.CIRCLE) {
        Object.assign(defaultStyle, this.radiusStyle);
      }
      return defaultStyle;
    },
  },
  mounted() {
    const drawWrapper = document.querySelector('.draw-wrapper').getBoundingClientRect()
    this.$emit('set-default-wrapper-position', drawWrapper.left, drawWrapper.top);
  },
  methods: {
    mouseDown(event) {
      if (this.currentType === '') return;

      this.$emit('on-mouse-down', event);
      this.startPointX = event.clientX - this.wrapperPositionX;
      this.startPointY = event.clientY - this.wrapperPositionY;
      this.currentPointX = 0;
      this.currentPointY = 0;

      // drag
      const mouseMove = (current) => {
        this.currentPointX = current.clientX - this.wrapperPositionX;
        this.currentPointY = current.clientY - this.wrapperPositionY;
      }

      // mouse up
      const mouseUp = (current) => {
        this.$emit('on-mouse-up', current);
        document.removeEventListener('mousemove', mouseMove);
        document.removeEventListener('mouseup', mouseUp)
      }
      document.addEventListener('mousemove', mouseMove);
      document.addEventListener('mouseup', mouseUp)
    },
  },
  watch: {
    isClear() {
      if (this.isClear === true) {
        this.startPointX = 0;
        this.startPointY = 0;
        this.currentPointX = 0;
        this.currentPointY = 0;
      }
    },
  }
}
</script>

<style scoped lang="scss">
.draw-wrapper {
  width: 1080px;
  height: 600px;
  border: 1px solid black;
  position: relative;
  .current-graph {
    position: absolute;
    border: 1px solid cornflowerblue;
    &.graph-color-BLACK {
      border: 1px solid #000000;
    }
    &.graph-color-RED {
      border: 1px solid #da3f27;
    }
    &.graph-color-YELLOW {
      border: 1px solid #fff44f;
    }
    &.graph-color-GREEN {
      border: 1px solid #77DD77;
    }
    &.graph-color-BLUE {
      border: 1px solid #2596be;
    }
  }
}
</style>
