<template>
  <div id="app">
    <button-area :selected-type="buttonType"
                 :selected-color="currentColor"
                 @button-clicked="onButtonClicked"
                 @clear-button-clicked="onClearButtonClicked"
                 @color-button-clicked="onColorButtonClicked" />
    <draw-area :current-type="buttonType"
               :current-color="currentColor"
               :graphs="graphs"
               :wrapper-position-x="wrapperPositionX"
               :wrapper-position-y="wrapperPositionY"
               :is-clear="isClear"
               @set-default-wrapper-position="setWrapperPosition"
               @on-mouse-down="onMouseDown"
               @on-mouse-up="onMouseUp" />
  </div>
</template>

<script>
import ButtonArea from '@/views/ButtonArea.vue';
import DrawArea from '@/views/DrawArea.vue';
import { getGraphs, setGraph, clearGraphs } from '@/utils/local-storage';
import { buttonType } from '@/assets/js/type';

export default {
  name: 'App',
  components: {
    DrawArea,
    ButtonArea
  },
  data() {
    return {
      buttonType: buttonType.RECTANGLE,
      currentColor: 'BLACK',
      wrapperPositionX: 0,
      wrapperPositionY: 0,
      graphs: [],
      currentGraph: {
        graphId: '',
        graphType: '',
        graphStartX: 0,
        graphStartY: 0,
        graphEndX: 0,
        graphEndY: 0,
        index: 0,
        graphColor: 'BLACK',
      },
      isClear: true,
    };
  },
  mounted() {
    this.graphs = getGraphs();
  },
  methods: {
    onButtonClicked(type) {
      this.buttonType = type;
      this.isClear = true;
      this.initCurrentGraph();
    },
    onClearButtonClicked() {
      clearGraphs();
      this.graphs = [];
      this.isClear = true;
      this.initCurrentGraph();
    },
    onColorButtonClicked(color) {
      this.currentColor = color;
      this.currentGraph.graphColor = color;
    },
    onMouseDown(event) {
      this.isClear = false;
      this.currentGraph.graphId = 'graph1'
      this.currentGraph.graphType = this.buttonType;
      this.currentGraph.graphStartX = event.clientX;
      this.currentGraph.graphStartY = event.clientY;
    },
    onMouseUp(event) {
      this.currentGraph.graphEndX = event.clientX;
      this.currentGraph.graphEndY = event.clientY;
      this.cachedCurrentGraph();
      this.initCurrentGraph();
      this.isClear = true;
      this.graphs = getGraphs();
    },
    setWrapperPosition(left, top) {
      this.wrapperPositionX = left;
      this.wrapperPositionY = top;
    },
    initCurrentGraph() {
      this.currentGraph = {
        graphId: '',
        graphType: '',
        graphStartX: 0,
        graphStartY: 0,
        graphEndX: 0,
        graphEndY: 0,
        index: 0,
        graphColor: this.currentColor,
      }
    },
    cachedCurrentGraph() {
      if(this.currentGraph.graphId === "") return;
      const cachedGraphs = this.graphs === null ? [] : this.graphs;
      cachedGraphs.push(this.currentGraph);
      setGraph(cachedGraphs);
    },
  },
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
<style scoped lang="scss">
.button-wrapper + .draw-wrapper {
  margin-top: 30px;
}
</style>
